Repository JPCT/iTender, pull requests merged in 2022-12, with the labels that each got.

#86 bugfix
  front/src/app/service/jwtinterceptor.service.ts
Labels: bug, Front

#87 feature/84 Create category
  api/src/main/java/com/itender/service/impl/StoreServiceImpl.java
  front/src/app/app-routing.module.ts
  front/src/app/app.module.ts
  front/src/app/category/category-create.component.css
  front/src/app/category/category-create.component.html
  front/src/app/category/category-create.component.ts
  front/src/app/category/category-create.module.ts
  front/src/app/menu-edit/menu-edit.component.html
  front/src/app/menu-edit/menu-edit.component.ts
  front/src/app/models/category.model.ts
  front/src/app/service/category.service.ts
Labels: feature, Front

#88 Feature/85 delete category
  api/src/main/java/com/itender/model/Product.java
  api/src/main/java/com/itender/service/impl/StoreServiceImpl.java
  front/src/app/menu-edit/menu-edit.component.css
  front/src/app/menu-edit/menu-edit.component.html
  front/src/app/menu-edit/menu-edit.component.ts
  front/src/app/menu/menu.component.html
  front/src/app/service/menu-edit.service.ts
Labels: Front

#90 feature/89 login buttom in home page
  front/src/app/app.component.html
  front/src/app/app.component.ts
  front/src/app/login/login.component.ts
  front/src/app/menu-edit/menu-edit.component.html
Labels: Front

#91 bugugfix/admin-token-menu
  front/src/app/app.module.ts
  front/src/app/home/home/home.component.ts
  front/src/app/service/menu.service.ts
Labels: Front
